@page
@model Truck_Loading_Application.Pages.Trucks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Truck</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.AxleLoad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.AxleLoad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.RegistrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.EmptyWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.EmptyWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.MaxLoadWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.MaxLoadWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.Capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.CurrentLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.CurrentLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.MaintenanceStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.MaintenanceStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.CurrentStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.CurrentStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.FuelEfficiency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.FuelEfficiency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Driver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.Driver.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.DeletedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.DeletedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Truck.TruckId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
