@page
@model Truck_Loading_Application.Pages.CargoRequests.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CargoRequest[0].TransportationNeeds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargoRequest[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargoRequest[0].Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargoRequest[0].Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargoRequest[0].PickupDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargoRequest[0].DeliveryDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargoRequest[0].SpecialInstructions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargoRequest[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargoRequest[0].TotalWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargoRequest[0].Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CargoRequest) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransportationNeeds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialInstructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FirstName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RequestId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RequestId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
