@page
@model Truck_Loading_Application.Pages.Reports.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Report</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Format)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Format)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Truck)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Truck.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.CreatedByUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.CreatedByUser.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.UpdatedByUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.UpdatedByUser.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.DeletedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.DeletedAt)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Report.ReportId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
