@page
@model Truck_Loading_Application.Pages.TruckRoutes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TruckRoute[0].TravelRoute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruckRoute[0].PostingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruckRoute[0].EstimatedTravelTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruckRoute[0].Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruckRoute[0].Truck)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TruckRoute) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TravelRoute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedTravelTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Truck.RegistrationNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RouteId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RouteId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RouteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
