@page
@model Truck_Loading_Application.Pages.TruckDrivers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TruckDriver[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruckDriver[0].ContactInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruckDriver[0].RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruckDriver[0].LicenseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruckDriver[0].LicenseExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruckDriver[0].AvailabilityStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruckDriver[0].IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruckDriver[0].DeletedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TruckDriver) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailabilityStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DriverId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DriverId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DriverId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
